html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "poppins", sans-serif;
}

body a {
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body p {
  text-align: justify;
  line-height: 28px;
}

.j-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-s-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_links a img {
  height: 20px;
  width: 20px;
}

.no-pad {
  margin: 0;
  padding: 0;
}

.sec-title {
  margin-top: 60px;
  margin-bottom: 30px;
}

.sec-title h2 {
  font-size: 64px;
  color: #88121e;
}

.learn_more a {
  background: #88121e;
  color: white;
  padding: 10px 20px;
}

.ms-content .mn-text {
  width: 50%;
}

.width_50 {
  width: 50%;
}

.service-single {
  text-align: center;
  border: 3px solid #88121e;
  margin-bottom: 20px;
}

.ms-icon {
  text-align: center;
  padding: 30px;
}

.ms-icon img {
  height: 100px;
  width: 100px;
}

.ms-icon span {
  display: block;
  color: #88121e;
  font-weight: 700;
  margin-top: 18px;
}

.margin-top {
  margin-top: 120px;
}

.margin-top_nxt {
  margin-top: 50px;
}

.ms-wrapper {
  position: relative;
}

.ms-wrapper .services {
  position: absolute;
  top: 45%;
  left: 37%;
}

.mp-margin {
  margin-top: 400px;
}

.main-project .sec-title {
  text-align: center;
}

.nav-tabs {
  border-bottom: 0px;
}

.nav-tabs .nav-tabs .nav-link {
  border: 0px;
}

.nav-tab {
  margin-top: 50px;
  margin-bottom: 30px;
}

.nav-tab .nav-tabs .nav-item.show .nav-link,
.nav-tab .nav-tabs .nav-link.active {
  background: #88121e;
  color: white;
}

.nav-tab .nav-tabs .nav-link {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-tab .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top {
  background: #88121e;
  color: white;
  padding: 10px 20px;
  font-size: 13px;
}

.header-top ul li {
  margin-right: 10px;
}

.header-top ul li i {
  margin-right: 6px;
}

.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
  background: #88121e;
  color: white;
}

.dropdown-item {
  color: white;
}

.dropdown-menu {
  border: 0px;
  border-radius: 0px;
}

.hb_ctc a {
  display: inherit;
  font-size: 30px;
  color: #88121e;
}

.hbc-right span {
  display: block;
}

.hbc-right .upper_hbc {
  font-size: 12px;
  margin-bottom: 2px;
}

.hbc-right .lower_hbc {
  font-size: 16px;
}

.cta a:hover {
  background: white;
  color: #88121e;
}

.learn_more a:hover {
  border: 1px solid #88121e;
  color: #88121e;
  background: none;
}

.navbar-nav .nav-link:hover {
  color: #88121e;
}

.navbar-light .navbar-nav .nav-link {
  color: #b91829 !important;
}

.vt_play_button:hover {
  background: none;
  border: 5px solid #88121e;
  color: #88121e;
}

.vt_play_button:hover a {
  color: #88121e;
}

.hb_ctc a:hover {
  color: #b91829;
}

.mb-image img {
  width: 100%;
  height: 80vh;
}

.mb-content {
  background: #88121e;
  color: white;
  padding: 100px;
}

.background {
  background: #88121e;
}

.background span {
  color: white;
}

.mbc-title h2 {
  margin-bottom: 36px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.mbc-text {
  margin-bottom: 100px;
  font-size: 15px;
}

.cta a {
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  margin-right: 20px;
}

.cta a i {
  margin-right: 10px;
  font-size: 18px;
}

.line_wrapper {
  border-left: 10px solid white;
  padding: 0 17px;
}

.ma-image img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ma-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.ma-text {
  margin-top: 20px;
  margin-bottom: 50px;
}

.design_image img {
  width: 349px;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.design_image_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.max_height {
  max-height: 700px;
  min-height: 700px;
  overflow: hidden;
}

.ncs-single {
  margin-bottom: 30px;
}

.nav-tab nav {
  margin-bottom: 30px;
}

.ncs-single {
  position: relative;
}

.ncs-single::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b0;
  z-index: 2;
  overflow: hidden;
  visibility: hidden;
}

.ncs-single:hover::before {
  visibility: visible;
}

.ncs-single:hover .ncs-text {
  visibility: visible;
}

.ncs-single img {
  position: relative;
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ncs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  z-index: 4;
  visibility: hidden;
}

.ncs-text h4 {
  color: white;
  text-transform: uppercase;
  border-left: 5px solid #88121e;
  padding: 0 2px;
  font-size: 18px;
}

.nav-tab .learn_more {
  text-align: center;
}

.nav_content_single {
  margin-bottom: 30px;
}

.video_thumbnail {
  margin: 100px 0;
  position: relative;
}

.video_thumbnail video {
  width: 100%;
  height: auto;
}

.video_thumbnail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b0;
  z-index: 2;
  overflow: hidden;
}

.vt_play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background: #88121e;
  z-index: 5;
  font-size: 34px;
}

.vt_play_button a {
  color: white;
}

.main-projects .sec-title {
  margin-top: 0px;
  text-align: center;
}

.main-projects .nav {
  display: block;
}

.main-projects .nav-tabs .nav-link {
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.main-projects .nav-tabs .nav-item.show .nav-link,
.main-projects .nav-tabs .nav-link.active {
  color: #e9ecef;
  background-color: #88121e;
  border-color: #dee2e6 #dee2e6 #fff;
}

.main-projects a {
  color: black;
}

.main-projects .ncs-single img {
  height: 200px;
}

.main-projects .ncs-text h4 {
  font-size: 12px;
}

.main-faqs .card-header {
  background-color: white;
  padding: 0.75rem 0rem;
}

.main-faqs .card-body {
  background-color: whitesmoke;
  font-size: 14px;
}

.main-faqs .card {
  border: 0px;
}

.main-faqs .btn-link {
  color: #88121e;
}

.main-faqs .btn {
  padding: 0;
}

.main-faqs .btn::before {
  content: "+";
}

.design_image_nxt {
  text-align: center;
  position: relative;
}

.design_image_nxt img {
  height: 400px;
}

.design_image_nxt::before {
  content: "";
  border: 23px solid #88121e;
  position: absolute;
  left: 57px;
  top: -64px;
  height: 100%;
  z-index: -1;
  width: 64%;
}

.footer-main {
  padding: 40px 20px;
  background-color: whitesmoke;
  margin-top: 50px;
}

.footer-main .location_email {
  margin: 50px 0;
}

.footer-main .location_email li {
  margin: 10px 0;
}

.footer-main .location_email li i {
  margin-right: 10px;
}

.footer-main .location_email li a {
  color: black;
  font-size: 14px;
}

.footer-links li a:hover {
  color: #88121e;
}

.footer-title h4 {
  text-transform: uppercase;
  color: #88121e;
  position: relative;
  font-size: 16px;
}

.footer-title h4::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #969696;
}

.footer-links {
  font-size: 14px;
  margin-top: 70px;
}

.footer-links li {
  margin-bottom: 15px;
}

.footer-links li a {
  color: grey;
}

section.main-projects {
  background: whitesmoke;
  padding: 50px 0px;
}

.footer_copyright {
  text-align: center;
  padding: 10px 0;
  color: white;
  background: #88121e;
  font-size: 12px;
}

.breadcrumb {
  background-color: white;
  margin: 20px 0;
  padding: 0.75rem 13.5rem;
}

.breadcrumb .breadcrumb-item a {
  color: #88121e;
}

.ims_single img {
  height: 350px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-title_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.sec-title_small h2 {
  font-size: 28px;
  color: #88121e;
  margin-left: 20px;
  font-weight: 300;
}

.sec-title_small img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.opening_card {
  margin: 40px 0;
}

.oc-title {
  margin-bottom: 20px;
}

.oc-title h3 {
  margin-bottom: 30px;
}

.oc-title span {
  margin: 10px 0;
  background-color: #88121e;
  color: whitesmoke;
  padding: 8px;
  font-size: 10px;
}

.ocs-list {
  margin: 20px 0;
}

.ocs-list li {
  margin-bottom: 10px;
  font-size: 14px;
}

.ocs-list li::before {
  content: "*";
  margin-right: 10px;
}

.opening_card {
  padding: 50px;
  background: white;
  -webkit-box-shadow: 4px 5px 12px 0px #dfdddd;
          box-shadow: 4px 5px 12px 0px #dfdddd;
}

.opening_card .learn_more {
  margin: 40px 0;
}
/*# sourceMappingURL=main.css.map */